/* 
	Основной цвет текста - #161515;
	черный цвет - #272727;
	акцентный - #BB8B5D;

	белый цвет : #FFFFFF;
 */
 p {
	 margin: 0;
 }

 h1,h2,h3,h4,h5,h6 {
	 margin: 0;
 }

 ul {
	 margin: 0;
	 padding: 0;
 }
 
:root {
	--primary-text-color: #161515;
	--primary-black-color: #272727;
	--primary-white-color: #ffffff;
	--secondary-white-color: #F8F8F8;
	--accent-color: #BB8B5D;
}

body {
	color: var(--primary-black-color);
	background-color: var(--primary-white-color);

	font-family: 'League Spartan', sans-serif;
	font-weight: 300;
	font-size: 32px;

}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* общий стиль заголовков */
.title {
	font-weight: inherit;
	font-size: 24px;
	line-height: 1.86;
}


/* Container */
.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 10px;
}

/* HEADER */
.header {
	background-color: var(--secondary-white-color);

	padding-bottom: 168px;
	margin-bottom: 43px;
}

/* Обертка для header */
.header-inner {
	display: flex;
	justify-content: space-between;

	max-width: 1190px;
	padding: 0 10px;
	margin: 0 auto;

	/* max-width: 1440px;
	padding: 0 240px 168px 133px; */
}

.header-info {
	max-width: 575px;
	padding-top: 104px;
}

.header-title {
	margin-bottom: 53px;
}

.header-subtitle {
	color: var(--primary-black-color);

	font-size: 250px;
	line-height: 0.92;

	margin-bottom: 43px;
}

.header-descr {
	line-height: 1.55;

	margin-bottom: 61px;
}

/* Header-button */
.header-button-wrapper {
	display: flex;
}
.header-button {
	color: var(--primary-white-color);
	background-color: var(--primary-text-color);

	line-height: 0.9;

	display: inline-block;
	padding: 26px 73px 31px
}

.header-button-price {
	color: var(--primary-black-color);
	background-color: var(--primary-white-color);

	line-height: 0.9;

	display: inline-block;
	padding: 26px 27px 31px;
}

/* HEADER IMAGE */

/* POPULAR MODELS */
.models-title {
	text-align: center;
}

.models-subtitle {
	color: var(--primary-black-color);

	font-weight: 400;
	font-size: 72px;
	line-height: 1.13;
	text-align: center;

	margin-bottom: 83px;
}

/* Список моделей */
.models-list {
	margin-bottom: 59px;
	
	text-align: center;
}

.models-list-item {
	max-width: 530px;
	margin: 0 auto;
}

.models-list-item:not(:last-child) {
	margin-bottom: 85px;
}

.models-img-wrapper {
	background-color: var(--secondary-white-color);

	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	margin: 0 auto 67px;
}

.models-list-title{
	color: var(--primary-black-color);

	font-size: inherit;
	font-weight: 400;
	line-height: 0.9;

	margin-bottom: 17px;
}

.models-list-descr {
	line-height: 1.55;
}

/* Product description */
.description {
	margin-bottom: 140px;

	text-align: center;
}

.description-title {
	font-weight: 400;
	font-size: inherit;
	line-height: 1.86;
	text-transform: capitalize;

	margin-bottom: 58px;
}

.description-text {
	font-size: 24px;
	line-height: 1.7;

	max-width: 515px;
	margin: 0 auto;
}

/* LiNK-DESCRIPTION */
.description-text-link {
	color: var(--accent-color);
}

.description-text-link:hover {
	text-decoration: underline;
}
