/* 
	Основной цвет текста - #161515;
	черный цвет - #272727;
	акцентный - #BB8B5D;

	белый цвет : #FFFFFF;
 */
 * {
	box-sizing: border-box;
 }
:root {
	--primary-text-color: #161515;
	--primary-black-color: #272727;
	--primary-white-color: #ffffff;
	--secondary-white-color: #F8F8F8;
	--accent-color: #BB8B5D;
}

body {
	color: var(--primary-black-color);
	background-color: var(--primary-white-color);

	font-family: 'League Spartan', sans-serif;
	font-weight: 300;
	font-size: 32px;

}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* общий стиль заголовков */
.title {
	font-weight: inherit;
	font-size: 24px;
	line-height: 1.86;
}

/* HEADER */
.header {
	background-color: var(--secondary-white-color);
}

.header-title {
	
}

.header-subtitle {
	color: var(--primary-black-color);

	font-size: 250px;
	line-height: 0.92;
}

.header-descr {
	line-height: 1.55;
}

/* Header-button */
.header-button {
	color: var(--primary-white-color);
	background-color: var(--primary-text-color);

	line-height: 0.9;
}

.header-button-price {
	color: var(--primary-black-color);
	background-color: var(--primary-white-color);

	line-height: 1.86;
}

/* POPULAR MODELS */
.models-title {
	text-align: center;
}

.models-subtitle {
	color: var(--primary-black-color);

	font-weight: 400;
	font-size: 72px;
	line-height: 1.13;
	text-align: center;
}

.models-list-item {
	
}
.models-list-title{
	color: var(--primary-black-color);

	font-size: inherit;
	font-weight: 400;
	line-height: 0.9;
	text-align: center;
}

.models-list-descr {
	line-height: 1.55;
	text-align: center;
}

/* Product description */
.description-title {
	color: var();

	font-weight: 400;
	font-size: inherit;
	line-height: 1.86;
	text-align: center;
	text-transform: capitalize;
}

.description-text {
	font-size: 24px;
	line-height: 1.7;
	text-align: center;
}

.description-text-link {
	color: var(--accent-color);
}
